[Desktop Entry]
Version=0.0.1
Name=Messenger-GTK
Comment=A GTK based GUI for the Messenger service of GNUnet.
TryExec=messenger-gtk
Exec=messenger-gtk
Icon=messenger-gtk
Terminal=false
StartupWMClass=MessengerGTK
Type=Application
Categories=Chat;Network;InstantMessaging;GTK;FileSharing;
MimeType=x-scheme-handler/messenger-gtk;
Keywords=messenger-gtk;chat;im;messaging;messenger;gtk;
X-GNOME-UsesNotifications=true
